*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
*.apk
/app/release/
/gradle/wrapper/
/app/src/main/gen/com/zxg/web/Manifest.java
/app/src/main/gen/com/zxg/web/BuildConfig.java
/app/src/main/gen/com/zxg/web/R.java
